.main-section {
  background: url("/src/assets/images/waterfall.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 600px;
  width: 100%;
  background-position: center;
}

.main-section h1 {
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px 0;
  font-family: Hind, sans-serif;
}

.main-section p {
  color: #a6a7aa;
}
