.supportSection {
    background: url("/src/assets/images/listenPodcast.jpg") no-repeat;
    -webkit-background-size: cover;
    max-width:100%;
    color: #efefef;
    height: 400px;
    background-position: center;
}
.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}