.contact {
    width: 100%;
    background: #0090CE;
    padding: 100px 0 40px
}

.contact__title-pos {
    font-size: 42px;
    font-weight: 400;
    position: relative;
    color: #fff
}

.contact__title-pos:before {
    left: -80px
}

.contact__title-pos:after, .contact__title-pos:before {
    content: "";
    display: block;
    width: 67px;
    height: 1px;
    background: #46433f;
    position: absolute;
    top: 25px
}

.contact__title-pos:after {
    right: -80px
}

.contact__title-pos:after, .contact__title-pos:before {
    background: #fff
}

.contact__form, .contact__title {
    text-align: center
}

.contact__form {
    width: 490px;
    margin: 15px auto
}

.input {
    background: transparent;
    font-family: Open Sans, sans-serif;
    border: 1px solid #fff;
    width: 90%;
    height: 30px;
    padding: 10px;
    margin-bottom: 8px;
    color: #fff;
    outline: none
}

.input::-webkit-input-placeholder {
    color: #fff !important;
    opacity: .9;
    font-family: Open Sans, sans-serif;
    font-size: 13px
}

.input:-moz-placeholder, .input::-moz-placeholder {
    color: #fff !important;
    opacity: .9;
    font-family: Open Sans, sans-serif;
    font-size: 13px
}

.input:-ms-input-placeholder, .input::-ms-input-placeholder {
    color: #fff !important;
    opacity: .9;
    font-family: Open Sans, sans-serif;
    font-size: 13px
}

.input:focus::-webkit-input-placeholder {
    opacity: .4
}

.input:focus:-moz-placeholder, .input:focus::-moz-placeholder {
    opacity: .4
}

.input:focus:-ms-input-placeholder, .input:focus::-ms-input-placeholder {
    opacity: .4
}

.text__area {
    resize: none;
    height: 60px;
    overflow: auto
}

.submit {
    width: 96%;
    padding: 10px;
    line-height: 22px;
    font-size: 22px;
    border: none;
    color: #fff;
    background: #0c9a8c;
    transition: .4s
}

.submit:hover {
    cursor: pointer
}